@import "../../assets/common/css/lib/animate.min.scss";

.mask {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.mask-bottom-box {
  z-index: 16;
  bottom: 0;
  position: fixed;
  width: 750px;
  // height: 653px;
  background: rgba(255, 255, 255, 1);
  border-radius: 26px 26px 0px 0px;
  animation-duration: 0.5s;
}
